@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: rgb(198, 243, 212);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
    align-items: center;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;
}

nav ul li{
    padding: 0 12px;
}

nav ul li a{
    padding-right: 5px;
}

.container{
    min-height: 68.5vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 75%;
    margin: 10px auto;
    border-radius: 15px ;
    padding: 20px;
    background-image: url(wallpaper.jpg);
    
    
}

.songItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 32, 32);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    cursor: pointer;
}

.songPic{
    width: 50px;
    border: 2px solid white;
    border-radius: 5px;
}

.timestamp{
    padding: 5px;
}

.songDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    background-color: black;
    color: white;
    position: sticky;
    height: 110px;
    bottom: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

#progressBar{
    width: 70vw;
    height: 50px;
}

.icons i{
    cursor: pointer;
    padding: 0 20px 0 0;
}
